*.dat
*.gif
*.png
*.out
*.exe
*.plt
*.ipynb
/unusedFunctions.c
GPATH
GRTAGS
GSYMS
GTAGS
/output.log
/SPH
/fluid.txt
/wall.txt
/obstacle.txt
/air.txt
/numbers.h
/Parameters.h
/GifAnimations/
/ImageSources/
/Data/
